{{template "detailHeader.html" .}}

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <table class="table table-hover">
        {{if .hpFans}}
        <thead>
          <tr>
            <th>팬 이름</th>
            <th>팬 속도</th>
            <th>위치</th>
            <th>타입</th>
            <th>헬스</th>
            <th>상태</th>
          </tr>
        </thead>
        <tbody>
          {{range $fan := .hpFans}}
          <tr>
            <td>{{$fan.FanName}}</td>
            <td>{{$fan.CurrentReading}}</td>
            <td>{{$fan.Location}}</td>
            <td>{{$fan.Type}}</td>
            <td>
              {{if eq $fan.Health "OK"}}
              <span class="label label-success">
              {{else if eq $fan.Health "Warning"}}
              <span class="label label-warning">
              {{else}}
              <span class="label label-danger">
              {{end}}
              {{$fan.Health}}
              </span>
            </td>
            <td>
              {{if eq $fan.State "Enabled"}}
              <span class="label label-success">
              {{else}}
              <span class="label label-danger">
              {{end}}
              {{$fan.State}}
              </span>
            </td>
          </tr>
          {{end}}
        </tbody>
        {{else}}
        <thead>
          <tr>
            <th>팬 이름</th>
            <th>팬 속도(RPM)</th>
            <th>위치</th>
            <th>헬스</th>
            <th>상태</th>
          </tr>
        </thead>
        <tbody>
          {{range $fan := .dellFans}}
          <tr>
            <td>{{$fan.FanName}}</td>
            <td>{{$fan.ReadingRPM}}</td>
            <td>{{$fan.PhysicalContext}}</td>
            <td>
              {{if eq $fan.Health "OK"}}
              <span class="label label-success">
              {{else if eq $fan.Health "Warning"}}
              <span class="label label-warning">
              {{else}}
              <span class="label label-danger">
              {{end}}
              {{$fan.Health}}
              </span>
            </td>
            <td>
              {{if eq $fan.State "Enabled"}}
              <span class="label label-success">
              {{else}}
              <span class="label label-danger">
              {{end}}
              {{$fan.State}}
              </span>
            </td>
          </tr>
          {{end}}
        </tbody>
        {{end}}
      </table>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

{{template "detailFooter.html" .}}
