{{template "header.html" .}}

<!-- Page Content -->
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">감시 서버 검색</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <form class="form-horizontal" action="{{url "App.Monitor"}}" method="GET">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label col-lg-2" for="overallState.Host">호스트 :</label>
              <div class="col-lg-4"><input type="text" class="form-control" placeholder="Enter ip" name="overallState.Host"></div>
              <label class="control-label col-lg-2" for="state">상태 :</label>
              <label class="radio-inline"><input type="radio" value="All" name="overallState.State" checked="checked">All</label>
              <label class="radio-inline"><input type="radio" value="Ok" name="overallState.State">OK</label>
              <label class="radio-inline"><input type="radio" value="Warning" name="overallState.State">Warning</label>
              <label class="radio-inline"><input type="radio" value="Critical" name="overallState.State">Critical</label>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2" for="overallState.Service">서비스 :</label>
              <div class="col-lg-4">
                <select class="form-control" id="overallState.Service" name="overallState.Service">
                  <option>Select</option>
                  <option>Tmap</option>
                  <option>Tview</option>
                </select>
              </div>
              <label class="control-label col-lg-2" for="overallState.Power">전원 :</label>
              <label class="radio-inline"><input type="radio" value="All" name="overallState.Power" checked="checked">All</label>
              <label class="radio-inline"><input type="radio" value="On" name="overallState.Power">ON</label>
              <label class="radio-inline"><input type="radio" value="Off" name="overallState.Power">OFF</label>
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2" for="overallState.Manager">담당자 :</label>
              <div class="col-lg-4"><input type="text" class="form-control" id="overallState.Manager" placeholder="Enter manager" name="overallState.Manager"></div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="col-lg-offset-11"><button type="submit" class="btn btn-default">검색</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <h4>Total:<span class="badge">{{len .overallStates}}</span></h4>
  </div>
  <div class="col-lg-10" style="position:relative;text-align:right;">
    <td><button type="button" class="btn btn-info btn-xs">데이터 추출</button></td>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>호스트</th>
        <th>서비스</th>
        <th>담당자</th>
        <th>전원</th>
        <th>상태</th>
        <th>팬</th>
        <th>온도</th>
        <th>전원공급</th>
        <th>네트워크</th>
        <th>디스크</th>
        <th>상세보기</th>
      </tr>
    </thead>
    <tbody>
      {{if .overallStates}}
      {{range $i, $overallState := .overallStates}}
      {{if eq $overallState.State "OK"}}
      <tr>
        {{else}}
        <tr style="background-color:pink;">
          {{end}}
          <td>{{$overallState.MonitorId}}</td>
          <td>{{$overallState.Host}}</td>
          <td>{{$overallState.Service}}</td>
          <td>{{$overallState.Manager}}</td>
          <td>
            <!-- <form action="{{url "App.ControlServer" $overallState.Host $overallState.Power}}" method="GET"> -->
              <form >
                {{if eq $overallState.Power "On"}}
                <span class="label label-success">{{$overallState.Power}}</span>
                {{else}}
                <span class="label label-danger">{{$overallState.Power}}</span>
                {{end}}
              </form>
            </td>
            <!-- data-toggle="modal" data-target="#myModal">{{$overallState.Power}}</button></td>
      </form>
      -->
      <td>{{$overallState.State}}</td>
      <td>{{$overallState.Fan}}</td>
      <td>{{$overallState.Temperature}}</td>
      <td>{{$overallState.PowerSupply}}</td>
      <td>{{$overallState.Network}}</td>
      <td>{{$overallState.Disk}}</td>
      <td>
        <a href="{{url "Detail.System" $overallState.MonitorId}}" target="_blank" type="button" class="btn btn-default btn-xs">Show</a>
      </td>
    </tr>
    {{end}}
    {{end}}
  </tbody>
</table>

<!-- <script> -->
  <!--   function newWindow() { -->
  <!--     window.open("details.html",width=600,height=300); -->
  <!--   } -->

  <!-- <div style="position:relative;text-align:center;"> -->
    <!--   <ul class="pagination"> -->
      <!--     {{$curr := .Page.CurrentPage}} -->
      <!--     {{range $all := .Page.TotalPage}} -->
      <!--     <li> -->
        <!--       {{if eq $curr $all}} -->
        <!--       <a href="{{url "App.Monitor" $all .overallState}}" style="background-color:skyblue;">{{$all}}</a> -->
        <!--       {{else}} -->
        <!--       <a href="{{url "App.Monitor" $all .overallState}}">{{$all}}</a> -->
        <!--       {{end}} -->
        <!--     </li> -->

      <!--     {{end}} -->
      <!--   </ul> -->
    <!-- </div> -->

</div>
<!-- /.container -->

  <script type="text/javascript">
    
    var socket = new WebSocket('ws://'+window.location.host+'/monitor/socket')

socket.onmessage = function(event) {
  location.reload(true);
  var data = JSON.parse(event.data)
  alert("!경고 하드웨어 폴트 발생!" +
    "\n호스트 : " + data.Host +
    "\n컴포넌트 :" + data.Component +
    "\n타임스탬프 :" + data.Timestamp)
}

</script>

{{template "footer.html" .}}
