{{template "header.html" .}}

<!-- Page Content -->
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">서버 등록 & 검색</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">


        <form class="form-horizontal">
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label col-sm-2" for="monitor.Host">호스트 : </label>
              <div class="col-sm-4"><input type="text" class="form-control" id="monitor.Host" name="monitor.Host"></div>
              <label class="control-label col-sm-2" for="ID">인증ID : </label>
              <div class="col-sm-4"><input type="text" class="form-control" id="ID" name="monitor.MonitorName"></div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="service">서비스 : </label>
              <div class="col-sm-4">
                <select class="form-control" id="service" name="monitor.Service">
                  <option>Select</option>
                  <option>Tman</option>
                  <option>Tview</option>
                </select>
              </div>
              <label class="control-label col-sm-2" for="password">인증Pass : </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="pass" name="monitor.MonitorPass">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="manager">담당자 : </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="manager" name="monitor.Manager">
              </div>
            </div>
          </div>
          <div class="panel-footer" align="right">
            <button formaction="{{url "App.AddServer"}}" formmethod="POST" type="submit" class="btn btn-primary" style="float: rigth">등록</button>
            <button formaction="{{url "App.Server"}}" formmethod="GET" type="submit" class="btn btn-primary" style="float: rigth">검색</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <h4>Total : <span class="badge">{{len .monitors}}</span></h4>
  </div>
  <div class="col-lg-10" style="position:relative;text-align:right;">
    <td><button type="button" class="btn btn-info btn-xs">데이터 일괄삽입</button></td>
    <td><button type="button" class="btn btn-info btn-xs">데이터 추출</button></td>
  </div>
  <!-- board -->
  <div class="container">
    <table class="table table-hover" id=myTable>
      <thead align="right"> 
        <tr>
          <th>No.</th>
          <th>호스트</th>
          <th>담당자</th>
          <th>서비스</th>
          <th>인증ID</th>
          <th>인증Pass</th>
          <th>설정</th>
        </tr>
      </thead>
      <tbody>
        {{if .monitors}}
        {{range $i, $monitor := .monitors}}
        <tr>
          <td>{{$i}}</td>
          <td>{{$monitor.Host}}</td>
          <td>{{$monitor.Manager}}</td>
          <td>{{$monitor.Service}}</td>
          <td>{{$monitor.MonitorName}}</td>
          <td>{{$monitor.MonitorPass}}</td>
          <td>
            <div class="col-sm-2">
              <form action="{{url "App.UpdateServer" $monitor.Id}}" method="GET">
                <button type="submit" class="btn btn-default btn-xs">수정</button>
              </form>
            </div>
            <div class="col-sm-2">
              <form action="{{url "App.DelServer" $monitor.Id}}" method="GET">
                <button type="submit" class="btn btn-default btn-xs">삭제</button>
              </form>
            </div>
          </td>
        </tr>
        {{end}}
        {{end}}
      </tbody>
    </table>
  </div>
  <!-- board end -->

  <!-- <div class="row" align="center"> -->
    <!--   <div class="col-sm-12" > -->
      <!--     <ul class="pagination" > -->
        <!--       <li><a href="#">1</a></li> -->
        <!--       <li><a href="#">2</a></li> -->
        <!--       <li><a href="#">3</a></li> -->
        <!--       <li><a href="#">4</a></li> -->
        <!--       <li><a href="#">5</a></li> -->
        <!--     </ul> -->
      <!--   </div> -->
    <!-- </div> -->
</div>

<!-- /.container -->

{{template "footer.html" .}}
